{{ partial "header" . }}


<style>
ul {
  text-align: left;
  list-style: inside;
}


.x {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    width: 40em;
}

.x ul {
    margin: 0;
    -webkit-column-break-inside: avoid; /* Chrome, Safari */
    page-break-inside: avoid;           /* Theoretically FF 20+ */
    break-inside: avoid-column;         /* IE 11 */
    display:table;                      /* Actually FF 20+ */
}


</style>


<main>

    <h2>{{ .Title }}</h2>
    <div>{{ .Content }}</div>

    <div class='x'>
    <!-- Groups content according to the "param_key" field in front matter -->
    {{ range .Pages.GroupByParam "tech" }}
    <h3>{{ .Key }}</h3>
    <ul >
        {{ range .Pages }}
        <li>
        <a href="{{ .Permalink }}">{{ .Title }}</a>
        </li>
        {{ end }}
    </ul>
    {{ end }}
    </div>

</main>

{{ partial "paginator" . }}
{{ partial "footer" . }}
